@charset "UTF-8";
body {
    background-color: #d43939 !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*height: max(auto, 100vh); Gotta Fix This */
}
header {
	background: linear-gradient( to right, #FF1919 10%, #d43939 40%);
}
header h1 {
    color: lightblue;
    font-size: 60px;
}
header h3 {
    font-size: 20px;
    color: black;
}
header h1,h3 {
    font-variant: small-caps;
}
nav button {
    background: none !important;
    border: none !important;
    color: black !important;
}
nav button:hover, button:focus {
    background-color: #4A5BEA !important;
    color: black !important;
}
nav {
    background: linear-gradient( to right, #FF1919 10%, #d43939 40%);
    position: relative;
    top: -8px;
    padding-bottom: 10px;
    text-align: center;
}
#MainContent {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  flex-wrap: wrap;
}
#MainContent .Pic-Right {
    width: 550px;
    margin-bottom: 20px;
    float: left;
}
#MainContent .Pic-Left {
    width: 550px;
    margin-bottom: 20px;
    float: right;
}
#MainContent img.Next-Img {
    clear: both;
}
#MainContent h2 {
    font-size: 50px !important;
    color: white;
    font-variant: small-caps;
}
#MainContent p {
    font-size: 22px !important;
    color: lightblue;
}
#MainContent b {
  color: white;
}
#MainContent button:focus {
  background-color: lightgray !important;
  transition: background-color ease-in 100ms;
}
#MainContent span.Label {
  color: white;
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 15px;
}
#MainContent figcaption {
  color: white;
  font-size: 12px;
}
#MainContent a {
    font-weight: bold;
    font-variant: small-caps;
    color: white;
    border: none;
    transition: border ease-in 125ms;
}
#MainContent a:hover {
    text-decoration: none;
    border-bottom: 5px solid white;
}
#MainContent hr {
    background-color: white;
}
.OnlyLinks {
    color: black !important;
}
.OnlyLinks:hover {
  background-color: #4A5BEA;
}
footer {
    background: none;
    color: yellow;
    text-align: center;
    width: auto;
    height: 50px;
    margin-top: auto;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 14px;
}
/*nav>ul {
  display: inline-block;
  text-align: left;
  margin: 0;
  padding-top: 8px;
  line-height: 100%;
  width: 800px;
}
nav li {
  width: 150px;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  list-style: none;
  z-index: 10;
}
nav a {
  padding: 7px 0;
  margin: 0;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  font-variant: small-caps;
  color: black;
  display: block;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
}
nav a:hover {
  color: white;
  margin: 0;
}

nav>ul>li>a {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  color: #e7e5e5;
}
nav>ul>li>ul>li:hover {
  background-color: #0675C3;
  border: 2px solid black;
  border-radius: 10px;
}
.Container-Links {
  padding: 3px 2px;
  margin: 3px 1px;
}
.Container-Links:hover {
  background-color: #1487D8;
  box-shadow: 8px 8px 7px rgba(0,0,0,0.6);
}
nav li ul{
  display: none;
  margin: 0;
  padding: 0;
  width: 150px;
  position: absolute;
  background-color: #1487D8;
  box-shadow: 8px 8px 7px rgba(0,0,0,0.6);
  text-shadow: none;
}
nav li ul li{
  margin: 0;
  padding: 2px 0;
}
nav li:hover > ul {
  display: block;
}*/
